
{% extends 'base.html' %}


{% block content %}

<h1>Lista de Clientes</h1>

<div class = "listaclientes"></div>
     <h2><strong>Apellidos</strong></h2>
     <h2><strong>Nombres</strong></h2>
     <h2><strong>Nombre_Completo</strong></h2>
     <h2><strong>Acciones</strong></h2>
     {% for cliente in clientes  %}
     <p>{{cliente.apellidos}}</p>
     <p>{{cliente.nombres}}</p>
     <p>{{cliente.Nombre_Completo}}</p>
     <p>
        <a href="{% url 'cliente_app:Detalle del cliente' cliente.id%}">Ver-</a>
        <a href="{% url 'cliente_app:Modificar cliente' cliente.id%}">Modificar-</a>
        <a href="{% url 'cliente_app:Baja de cliente' cliente.id%}">Eliminar</a>

     </p> 
     {% endfor %}

<div>
 
{% if is_paginated %}
       {% if page_obj.has_previus %}
           <a href="?page={{page_obj.previus_page_number}}">Atras</a>
       {% endif %} 
   
       {%for pagina in paginator.page_range %}
         {% ifequal pagina pge_obj.number  %}
              {{ pagina }} 
      {% else %}
             <a href="?page={{pagina}}">{{ pagina }}</a>></a></li>
      
         {% endifequal %}
      {% endfor %}

      {% if page_obj.has_next %}
           <a href="?page={{page_obj.next_page_next}}">Siguiente</a>></a>
      {% endif %}

{% endif %}

</div>